.sidebar{

    width: 15%;

    height: calc(100vh - 60px);
    box-shadow: 1px 1px 4px black;
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}